.sideWrapper{
	grid-area: sideWrapper;
	/*width: 1;*/
	height: auto;
	background: #feeaf3;
	padding: 2rem;
	color:#333;
}

.sideWrapper a{
	text-decoration: none;
	color:#333;
}

.sideBarItems{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2rem;
}

.sideBarItems h2{
	font-size:0.8rem;
	font-weight: bold;
}

.Icons{
	font-size: 2rem;
}

