*,
*::before,
*::after{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

::root{
	--mainBlack:#333;
	--mainWhite:#fff;
	--offWhite:#f7f7f7;
}


body{
	color:var(--mainBlack);
	background-color: #000000;
	line-height: 1.4;
	font-family: "Poppins", sans-serif;
	overflow-x: hidden; 
	margin: 0 100px
}

/*Global style*/

.container{
	width: 90%;
    margin: 0 auto;
}

